# Node modules
/todo-backend/node_modules
/todo-frontend/node_modules

# Build output
/todo-frontend/dist

# Database file
/todo-backend/todos.db

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode
.idea
.DS_Store